<html>
    <head>
        <title>Que cocino hoy</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Que cocino</a></h1>
        </div>

        <div>
            <p>published: 20.03.2019, 12:14</p>
            <h2><a href="">Ensalada de Huevo y perejil</a></h2>
            <p>INGREDIENTES :
4 yemas cocidas

3 cdas. de leche

1 cda. de mostaza

1 taza de aceite vegetal

2 cdas de jugo de limón

4 huevos

1 cda. de perejil picado

6 tostadas de pan

INSTRUCCIONES
Colocar las yemas cocidas en un bowl junto con la leche hasta formar una pasta.

Agregar la mostaza, el aceite vegetal y el jugo de limón.

Mezclar junto a 4 huevos cocidos cortados en cubos.

Agregar perejil picado y servir en un recipiente junto a tostadas de pan..</p>
        </div>

        <div>
            <p>published: 21.03.2019, 12:14</p>
            <h2><a href="">Pasta Palta</a></h2>
            <p>Plato llenador, rico fácil y rápido si los hay: Pasta Palta. Descubrí cómo la cremosidad de la Palta con la frescura de la Pasta fría son la combinación perfecta.

INGREDIENTES
250 gr. de pasta corta tipo tirabuzón

2 paltas

2 dientes de ajo

1 planta de albahaca fresca

1 limón

Aceite de oliva c/n

Sal y pimienta

1 lata de choclo

1 docena de tomates cherrys

INSTRUCCIONES
Hervir la pasta. Reservar con un poquito de aceite

Procesar la palta con el diente de ajo, la albahaca, el aceite, el limón exprimido, la sal y pimienta.

Mezclar con la pasta

Servir con granos de choclo, tomatitos cortados y unas hojas de albahaca enteras.</p>
        </div>
    </body>
</html>